#busca {
  background:linear-gradient(white,white,rgba(128, 128, 128, 0.493),rgba(54, 54, 54, 0.678));
  padding: 20px;
  display:flex;
  }
  
  #b-campo-busca {
    padding: 5px 15px;
    width: 228px;
  }
  
  #b-btn-busca {
    padding: 5px 15px;
    margin-left: 15px;
  }
  
  #b-btn-busca img {
    width: 12px;
    height: 12px;
  }
 
  @media screen and (min-width: 768px) {
  
    #b-campo-busca {
      padding: 5px 15px;
      width: 80%;
    } 

  }