header h1 {
    margin-bottom: 20px;
  }
  
  #c-titulo-temas {
    display: flex;
    justify-content: space-between;
  }
  
  #c-temas > * {
    display: inline-block;
    margin-left: 10px;
  }
  
  #c-temas > button {
    padding: 7px 10px;
    border: none;
    cursor: pointer;
  }
  
  #c-tema-rosa {
    background-color: pink;
  }
  
  #c-tema-verde {
    background: greenyellow;
  }
  
  #c-tema-azul {
    background: darkcyan;
    color: white;
  }
  
  #c-tema-branco {
    background: white;
  }
  