@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');header h1 {
    margin-bottom: 20px;
  }
  button img {
    width: 50px;
  }
  #c-titulo-temas {
    display: flex;
    justify-content: space-between;
    text-shadow: 1px 0.5px gray;
  }
  
  #c-temas > * {
    display: inline-block;
    margin-top: 10%;
    margin-left: 0;
  }
  #logo{
    display: flex;
  }
  #logo h1{
    margin-top: 25px;
    text-shadow: 2px 2px rgb(146, 143, 143);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: mymove 1s linear;
    
  }
  #textGames {
    margin-left: 45px;
    margin-top: -5px;
    text-shadow: 2px 2px grey;
    padding-right:30px;
    animation: mymove 2s linear;
    
  }

  @keyframes mymove {from {bottom: 10px;}
  to {top: 50px;bottom: 20px;}
    80% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  iframe{
    width:115px; height:104px;
    margin-bottom: 20px; 
    border-style: outset;
    border-radius: 10px;
    border-width: 8px;

    border-color: black;
    position: relative;
    animation: mymove 1.4s infinite;
    z-index: 10;
    animation: mymove 1s linear;

  }
  #c-temas > button {
    border: none;
    cursor: pointer;
    margin: 4px;
    background-color:transparent;
    margin-bottom: 5%;
  }

  #c-temas p{
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px rgba(52, 66, 56, 0.466);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
    padding-right: 10px;
    margin-left: 30%;
  }

  
  .btn-padrao:hover{
    display: inline-block;
    animation: mymove 1s linear;


  }
  @media screen and (max-width: 600px) {
  #c-titulo-temas{
    display:block;
  }
  #c-temas p{
    text-decoration: none;
   
    margin-left: 0%;
  }
}
@media screen and (max-width: 700px) {

#c-temas p{
  text-decoration: none;
 
  margin-left: 0%;
}
}