* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
background-image: radial-gradient(rgba(231, 230, 230, 0.205),rgba(228, 228, 228, 0.144),
rgba(226, 226, 225, 0.377),rgba(211, 208, 208, 0.596),
rgba(211, 210, 210, 0.61),
rgba(235, 232, 232, 0.746),rgb(29, 31, 30) 100%)}

#box-pagina-inicial {
  padding: 40px;
}

#container {
  display: flex;
}

#container main {
  width: 70%;
}

#container aside {
  width: 30%;
  margin-left: 5%;
  
}

@media screen and (max-width: 768px) {
  #container aside {
    display: none;
  }
  #container main {
    width: 100%;
  }
}