

.p-rodape{
    color:black;
    padding:10px;
}
#map{
    height:60%;
    z-index:1;
  }
.a-rodape{color:black;
padding:10px;}
.pb-5{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    bottom: 0;
    margin-bottom: 0;
    height: 100%;
    margin-top:20px;
}
#rp-email,#rp-tel,#rp-assunto,#rp-message{
    width:40%;
}
